.item {
    border: 1px solid gray;
    margin-bottom: 30px;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.info {
    padding: 10px;
}

.info h2 {
    padding-bottom: 5px;
}

.info p {
    padding-bottom: 10px;
}